{% extends "base.html" %}
{% block content %}
  <section class="hero-title">
    <h1>เลือกรายวิชา</h1>
  </section>
  <section class="grid-subjects">
    <a class="card-subject" href="#"><span>คณิต</span></a>
    <a class="card-subject" href="#"><span>ฟิสิกส์</span></a>
    <a class="card-subject" href="#"><span>ชีววิทยา</span></a>
    <a class="card-subject" href="#"><span>เคมี</span></a>
    <a class="card-subject" href="#"><span>ประวัติศาสตร์</span></a>
    <a class="card-subject" href="#"><span>ภาษาไทย</span></a>
  </section>
{% endblock %}
